.main-content {
  flex: 8;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.welcome {
  text-align: center;
  margin-bottom: 30px;
}

.welcome h2 {
  font-size: 24px;
  color: #333;
}

.agenda {
  margin-top: 20px;
  background-color: #140C5F;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.agenda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
  padding-top: 0px;
  border-radius: 5px;
}

.agenda-header h2 {
  color: #fff;
}

.tambah-agenda {
  background-color: #009F58;
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tambah-agenda:hover {
  opacity: 0.9;
}

.agenda-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;  
  padding-bottom: 10px;
  max-width: 100%;
}

.agenda-list::-webkit-scrollbar {
  height: 10px;
}

.agenda-list::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

.agenda-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.edit-delete-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Agar tombol sejajar secara vertikal */
  flex-direction: row; /* Pastikan tombol dalam satu baris */
  gap: 8px; /* Jarak antar tombol */
  width: 100%;
}

.edit-delete-icons img {
  padding: 4px;
  margin: 0; /* Hilangkan margin tambahan */
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.edit-delete-icons .edit-icon {
  background-color: #140C5F;
}

.edit-delete-icons .edit-icon:hover {
  opacity: 0.9;
}

.edit-delete-icons .delete-icon {
  background: #E03616;
}

.edit-delete-icons .delete-icon:hover {
  opacity: 0.9;
}

.agenda-item {
  flex: 0 0 calc(25% - 20px);
  background-color: #fff;
  padding: 20px;
  margin: 0px;
  width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.agenda-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.agenda-item-content {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 0px;
}

.agenda-item h3 {
  font-size: 20px;
  margin: 0;
  text-align: left;
  white-space: nowrap; 
  position: relative; 
  cursor: pointer; 
}

.agenda-item h3:hover {
  animation: scrollText 4s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150%));
  }
}

.time-icon {
  width: 16px;
  height: 16px;
}

.agenda-item a {
  position: relative;
  color: blue;
  text-decoration: none;
  text-align: right;
  transition: color 0.3s;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

a:hover {
  color: #666;
}