.main-content {
  flex: 8;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.welcome {
  text-align: center;
  margin-bottom: 30px;
}

.welcome h2 {
  font-size: 24px;
  color: #333;
}

.agenda {
  margin-top: 20px;
  background-color: #140C5F;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.agenda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
  padding-top: 0px;
  border-radius: 5px;
}

.agenda-header h2 {
  color: #fff;
}

.tambah-agenda {
  background-color: #009F58;
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tambah-agenda:hover {
  opacity: 0.9;
}

.agenda-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;  
  padding-bottom: 10px;
  max-width: 100%;
}

.agenda-list::-webkit-scrollbar {
  height: 10px;
}

.agenda-list::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

.agenda-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.agenda-item {
  flex: 0 0 calc(25% - 20px);
  background-color: #fff;
  padding: 20px;
  margin: 0px;
  width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  position: relative;
  overflow-x: auto;
}

.agenda-item::-webkit-scrollbar {
  height: 10px;
}

.agenda-item::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}

.agenda-item::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.agenda-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.agenda-item h3 {
  margin: 0;
  font-size: 20px;
  text-align: left;
}

.edit-delete-icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.edit-delete-icons img {
  padding: 4px;
  margin: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.edit-delete-icons .edit-icon {
  background-color: #140C5F;
}

.edit-delete-icons .edit-icon:hover {
  opacity: 0.9;
}

.edit-delete-icons .delete-icon {
  background: #E03616;
}

.edit-delete-icons .delete-icon:hover {
  opacity: 0.9;
}

.agenda-item-content {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 0px;
}

.time-icon {
  width: 16px;
  height: 16px;
}

.agenda-item a {
  position: relative;
  color: blue;
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

a:hover {
  color: #666;
}

/* Popup */
.popup-agenda {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content-agenda {
  background-color:  white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  opacity: 0.9;
}

.close-btn-agenda {
  position: absolute;
  color: gray;
  top: 0px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1100;
}

.input-agenda-form {
  position: relative;
  flex: 1;
  padding: 20px;
}

.input-agenda-form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-agenda-form label {
  width: 40%;
  padding-right: 30px;
  text-align: left;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: flex;
}

.input-agenda-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-agenda-form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 0px;
}

.input-agenda-form button {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-agenda-btn-unggah {
  background-color: #009F58;
  color: white;
}

.input-agenda-form button:hover {
  opacity: 0.9;
}