.main-content {
    flex: 8;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.welcome {
    background-color: #140C5F;
    color: white;
    padding: 10px;
    text-align: left;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.192);
    border-radius: 10px;
}

.welcome h2 {
    font-size: 24px;
    margin: 0;
}

.contact-info {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    margin-top: 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li strong {
    color: #00459f;
}

.welcome h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 16px;
    margin-bottom: 20px;
}
