.main-content {
  flex: 8;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.sub-header {
  background-color: white;
  padding: 10px 30px;
  text-align: left;
  font-size: 14px;
}

.sub-header span {
  color: red;
}

.sub-header-pesan span {
  font-size: 12px;
  color: red;
}

.validasi-message-container {
  position: relative;
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.validasi-message-title h2 {
  background-color: #140C5F;
  color: white;
  padding: 10px 30px;
  padding-bottom: 0px;
  margin: 0;
  text-align: left;
}

.tambah-data {
  background-color: #009F58;
  color: #fff;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tambah-data:hover {
  opacity: 0.9;
}
  
.validasi-message-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 100px;
}
  
.validasi-message-container thead {
  background-color: #eee;
}
  
.validasi-message-container thead th {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #333;
  border: 1px solid gray;
}
  
.validasi-message-container tbody td {
  text-align: center;
  padding: 10px; 
  border: 1px solid gray;
}

.diterima {
  font-weight: bold;
  background-color: #01FB37;
  border-radius: 15px;
  padding: 0px;
}

.ditolak {
  font-weight: bold;
  background-color: #FF0000;
  border-radius: 15px;
  padding: 0px;
  color: white;
}

.proses {
  font-weight: bold;
  background-color: #FFEB11;
  border-radius: 15px;
  padding: 0px;
}

.validasi-message-container .action-buttons {
  gap: 5px;
}

.validasi-message-container .action-buttons a {
  width: 35px; 
  height: 35px; 
  display: flexbox;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.validasi-message-container .action-buttons a img {
  margin-top: 5px;
  width: 15px;
  height: 15px;
}

.validasi-message-btn-icon {
  background-color: #0033ff;
  color: white;

}
.validasi-message-btn-icon:hover {
  opacity: 0.9;
}

.edit-button {
  background-color: #140C5F;
}

.edit-button:hover {
  opacity: 0.9;
}

.delete-button {
  background-color: #E03616;

}
.delete-button:hover {
  opacity: 0.9;
}