.main-content {
    flex: 8;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px; 
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto;
    max-width: 100%;
}

table, th, td {
    border: 1px solid gray;
    padding: 10px;
}

th, td {
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.btn-cetak {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0px;
}

.btn-cetak button {
    background-color: #009F58;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0px; 
    margin-left: auto;
}

.btn-cetak button:hover {
    opacity: 0.9;
}

.btn-cetak img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.file {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.template img {
    width: 100%;
    height: auto;
    z-index: 1;;
    padding: 0px;
}


.data-overlay {
    position: absolute;
    top: 250px;
    bottom: 100px;
    left: 50px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    -index: 2;
}

.user-data {
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}

.tab1 {
    margin-left: 90px;
}

.tab2 {
    margin-left: 75px;
}

.tab3 {
    margin-left: 15px;
}
