/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background-color: white;
}

.container {
  display: flex;
  width: 100%;
  margin: 20px auto;
  width: 85%;
  max-width: 1200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
}

.sidebar {
  background: #18143D;
  color: white;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
  height: 88vh;
  position: fixed;
  top: 60px;
  left: 0;
}

.profile {
  text-align: center;
}

.profile-img {
  margin-top: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu {
  margin-top: 5px;
  margin-bottom: 140px;
}

.menu-item {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid gray;
}

.menu-item:hover {
  background: #1DAC98;
  padding-left: 15px;
  transition: 0.3s;
}

.menu-icon {
  height: 14px;
  width: 14px;
  margin-right: 10px;
  margin-left: 20px;
}

footer {
  text-align: center;
  font-size: 12px;
}

.main-content {
  width: 85%;
  margin-top: 100px;
  margin-bottom: 85px; 
  margin-left: 25%;
  margin-right: 7%;
  background: white;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #140C5F;
  color: white;
  padding: 10 20px;
  height: 80px;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  height: 60px;
  margin-left: 70px;
  margin-right: 2px;
  padding: 0 0px;
}

.teks {
  font-size: 50px;
  font-weight: bold;
  margin-right: auto;
  color: white;
}

.teks .highlight {
  color: #f7b600;
}

.logout {
  padding: 0 30px;
}

.logout button {
  background: #e94b35;
  border: none;
  color: white;
  padding: 5px 11px;
  border-radius: 30px;
  cursor: pointer;
}

.welcome {
  text-align: center;
  margin-top: none;
  color: #333;
  padding: 0px;     
  margin-left: none;
  margin-right: none;     
}

/* ========================== Beranda Admin Styles ========================== */
.beranda-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.beranda-card {
  width: 200px;
  height: 150px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 30px;

}

.beranda-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.beranda-img-1 {
  width: 150px;
  height: 70px;
  margin-bottom: 3px;
}

.beranda-img-2 {
  width: 70px;
  height: 90px;
  margin-bottom: 3px;
}

.beranda-card p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.beranda-card-container {
  display: inline-block;
  background-color: whitesmoke;
  height: auto;
  width: 700px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ========================== Input Agenda Admin Styles ========================== */

.input-agenda-container {
  position: relative;
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-agenda-title h2 {
  background-color: #2c2273;
  color: white;
  padding: 5px;
  margin: 0px;
  margin-right: 340px;
  margin-left: 340px;
  margin-top: 50px;
  text-align: center;
}

.input-agenda-form {
  position: relative;
  flex: 1;
  padding: 20px;
}

.input-agenda-form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-agenda-form label {
  width: 20%;
  padding-right: 30px;
  text-align: left;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: flex;
}

.input-agenda-form input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-agenda-form textarea {
  resize: vertical;
  height: 80px;
}

.input-agenda-form input[type="file"] {
  padding: 5px;
}

.input-agenda-form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 20px;
}

.input-agenda-form button {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
}

.input-agenda-btn-batal {
  background-color: #e74c3c;
  color: white;
}

.input-agenda-btn-unggah {
  background-color: #2ecc71;
  color: white;
}

.input-agenda-form button:hover {
  opacity: 0.9;
}

/* ========================== Leaderboard Admin Styles ========================== */
.leaderboard-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.leaderboard-ranking, .leaderboard-agenda {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.leaderboard-ranking {
  margin-right: 30px;
  margin-left: -50px;
  width: 80%;
}

.leaderboard-ranking h3 {
  background: #e94b35;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 20px 0;
}

.leaderboard-ranking-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background: white;
  transition: box-shadow 0.3s;
}

.leaderboard-ranking-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leaderboard-rank-number {
  font-weight: bold;
  font-size: 20px;
  background: #e94b35;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 16px;
}

.leaderboard-rank-info p {
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
  color: black;
  text-align: left;
}

.leaderboard-rank-score {
  font-size: 35px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  padding-left: 240px;
}

.leaderboard-agenda {
  width: 30%;
}

.leaderboard-agenda h3 {
  background: #e94b35;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 20px 0;
}

.leaderboard-agenda-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #f7f7f7;
  transition: box-shadow 0.3s;
}

.leaderboard-agenda-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leaderboard-agenda-item p {
  margin: 0;
  font-size: 14px;
}

.leaderboard-agenda-link {
  background: #2c247d;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.leaderboard-agenda-link:hover {
  background: #3b349c;
}

/* ========================== Profile Admin Styles ========================== */
.profile-container {
  position: relative;
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.profile-container h1 {
  text-align: left;
  font-size: 20px;
  color: #333;
  border-bottom: 2px solid #f05454;
  padding-bottom: 10px;
}
  
.profile-content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 80px;
}
  
.profile-picture {
  text-align: center;
}
  
.profile-picture img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #ddd;
}
  
.profile-btn-ubah {
  margin-top: 10px;
  background-color: #18143D;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
}
  
.profile-btn-ubah:hover {
  background-color: #1e1659;
}
  
.profile-form {
  position: relative;
  flex: 1;
  background-color: #18143D;
  padding: 20px;
  border-radius: 20px;
  color: white;
}
  
.profile-form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
  
.profile-form label {
  width: 20%;
  font-size: 14px;
  color: #fff;
  text-align: left; 
  padding-right: 10px;
}
  
.profile-form input {
  flex: 1;
  width: 100%;
  padding: 2px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  padding-left: 30px;
}
  
.profile-form input[type="text"], input[type="email"] {
  background-color: #fff;
  color: #333;
}
  
.profile-form input:focus {
  outline: none;
  border: 2px solid #f05454;
}
  
.profile-btn-simpan {
  position: absolute;
  bottom: -60px;
  right: 10px;
  display: block;
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
  
.profile-btn-simpan:hover {
  background-color: #27ae60;
}

/* ========================== Validasi Input Admin Styles ========================== */
.validasi-input-container h1 {
    background-color: #2c2273;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin: 0 0 20px;
    text-align: center;
}

.validasi-input-container form {
  margin-top: 20px;
}

.validasi-input-form-group {
  margin-bottom: 15px;
}

.validasi-input-container label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.validasi-input-container input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.validasi-input-container textarea {
  resize: vertical;
  height: 80px;
}

.validasi-input-container input[type="file"] {
  padding: 5px;
}

.validasi-input-file-info {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
  display: block;
}

.validasi-input-form-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.validasi-input-form-actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.validasi-input-btn-batal {
  background-color: #e74c3c;
  color: white;
}

.validasi-input-btn-unggah {
  background-color: #2ecc71;
  color: white;
}

.validasi-input-form-actions button:hover {
  opacity: 0.9;
}

/* ========================== Validasi Message Admin Styles ========================== */
.validasi-message-container h1 {
  background-color: #2c2273;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin: 0 0 20px;
  text-align: center;
}
  
.validasi-message-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
  
.validasi-message-container thead {
  background-color: #eee;
}
  
.validasi-message-container thead th {
  padding: 15px;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
}
  
.validasi-message-container tbody td {
  padding: 10px;
  border-top: 1px solid #ddd;
}
  
.validasi-message-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
  
.validasi-message-btn {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  border: none;
  cursor: pointer;
}
  
.validasi-message-btn-validasi {
  background-color: #ddd;
  color: black;
}
  
.validasi-message-btn-ditolak {
  background-color: #e74c3c;
}
  
.validasi-message-btn-diterima {
  background-color: #2ecc71;
}
  
.validasi-message-btn-icon {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}

.title {
  text-align: left;
  width: 100%;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}