/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
    background: #18143D;
    color: white;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 88vh;
    position: fixed;
    top: 60px;
    left: 0;
}

.profile {
    text-align: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu {
    margin-top: 20px;
}

.menu-item {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid gray;

}

.menu-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.menu-item:hover {
    background: #1DAC98;
    padding-left: 10px;
    transition: 0.3s;
}

footer {
    text-align: center;
    font-size: 12px;
}

/* Main Content */
.main-content {
    width: 85%;
    margin-left: 20%;
    background: #f8f8f8;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #140C5F;
    color: white;
    padding: 0 10px;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    height: 40px;
    padding-left: 20px;
}

.bell button {
    cursor: pointer;
    background: #140C5F;
}

.bell img {
    height: 30px;
}

.teks {
    font-size: 27px;
    font-weight: bold;
    margin-right: auto;
    color: white;
}

.teks .highlight {
    color: #f7b600;
}

.logout {
    padding: 0 30px;
}

.logout button {
    background: #e94b35;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.welcome {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    color: #333;
}

.judul {
    background-color: #140C5F;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: left;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.192);
}
.judul h1 {
    font-size: 24px;
    margin: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.action-buttons a {
    color: white;
    padding: 7px 20px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
}
.diterima {
    background-color: #01FB37;
    border-radius: 15px;
    padding: 5px;
    margin: 1px;
}
.ditolak {
    background-color: #FF2800;
    border-radius: 15px;
    padding: 5px 5px;
    margin: 1px;
    color: white;
}
.prosses {
    background-color: #FFEB11;
    border-radius: 15px;
    padding: 5px;
    margin: 1px;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .button-container button {
        width: 100%;
        margin-bottom: 10px;
    }
    table, th, td {
        font-size: 12px;
    }
}